body {
    background-color: #0C3D44;
    background-image: url(../images/BG_trains.jpg);
    background-repeat: repeat;
}

.jumbotron {
    border: 1px solid #0C3D44;
    background-color: rgba(233, 233, 233, .9);
    text-align: center;
    color: #0C3D44;
    text-shadow: 1px 0 1px white, -1px 0 1px white, 0 1px 1px white, 0 1px 1px white
}

.jumbotron > h1, .jumbotron > h3 {
    font-weight: bold;
}

.row {
    margin-bottom: 2rem;
}

.card {
    border: 1px solid #0C3D44;
}

.card-header {
    font-weight: bold;
    font-size: 24px;
}

#submit-train {
    background-color: #77CCCF;
}